:root {
  --blue: #072ac8;
  --sky-blue: #43d2ff;
  --pale-blue: #a2d6f9;
  --light-blue: #d1edff;
  --black: #292e47;
  --grey: #6b708d;
  --pale-grey: #f2f4fc;
  --ice: #ecf7ff;
  --yellow: #ffc600;
}
*,
html,
body {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  background-color: var(--pale-grey);
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--pale-grey);
  z-index: 1800;
  padding: 60px 60px 0px 60px;
}
.logo {
  width: 60px;
  height: auto;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
}
.nav-list {
  display: flex;
  gap: 60px;
  list-style: none;
  padding: 0;
  margin-left: 30%;
}
.nav-bar a {
  color: var(--grey);
  text-decoration: none;
  font-size: 17px;
}
#btn-contact-us {
  color: var(--pale-grey);
  background-color: var(--blue);
  padding: 15px 25px;
  border: none;
  text-decoration: none;
  font-size: 17px;
}
#btn-contact-us:hover {
  color: var(--yellow);
}
.open-menu,
.close-menu {
  display: none;
}

.contact-us {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 60px 60px 60px 60px;
  margin-top: 120px;
}
.contact-us h1 {
  font-size: 60px;
  color: var(--black);
}
.form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
}
.form-content label {
  font-size: 20px;
  color: var(--grey);
}
.input-box {
  max-width: 100%;
  height: 80px;
  color: var(--grey);
  padding: 20px;
  border: none;
  font-size: 17px;
  color: var(--grey);
  background-color: #e6e9f1;
}
.email-phone {
  display: flex;
  gap: 30px;
}
.email {
  width: 50%;
}
.phone {
  width: 50%;
}
.message-box {
  max-width: 100%;
  height: 200px;
  border: none;
  padding: 20px;
  font-size: 17px;
  color: var(--grey);
  background-color: #e6e9f1;
}
.btn-submit {
  background-color: var(--blue);
  display: block;
  max-width: 100%;
  cursor: pointer;
  height: 80px;
  color: var(--ice);
  padding-top: 10px;
  text-align: center;
  border: none;
  text-decoration: none;
  font-size: 17px;
}
.btn-submit:hover {
  color: var(--yellow);
}
.error-message {
  display: none;
  color: red;
  font-size: 13px;
}
.footer {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 0px 60px 60px 60px;
  background-color: var(--pale-grey);
  font-size: 14px;
  color: var(--grey);
}
.footer img {
  padding-top: 30px;
  width: 60px;
  height: auto;
}
.footer p {
  width: 250px;
  padding-top: 10px;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: column;
  align-items: flex-end;
  gap: 100px;
  padding-top: 30px;
}
.footer a {
  text-decoration: none;
  color: var(--grey);
  font-size: 14px;
  align-items: flex-end;
}
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    padding: 20px 20px 0px 20px;
    flex-direction: raw;
    justify-content: space-between;
  }
  .open-menu,
  .close-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .open-menu {
    color: varr(--blue);
  }
  .close-menu {
    color: var(--y2ellow);
  }
  .nav-bar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blue);
    padding: 1rem;
    box-shadow: 0 0 0 100vmax rgba(70, 99, 229, 0.5);
    height: 220px;
    width: 120px;
  }
  .nav-bar.show {
    opacity: 2;
    visibility: visible;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-left: 30%;
  }
  .nav-list li a {
    color: var(--pale-grey);
    gap: 20px;
  }
  .nav-list li a:hover {
    color: var(--yellow);
  }
  #btn-contact-us {
    color: var(--pale-grey);
    background-color: transparent;
    padding: 1rem;
    right: 0;
    border: none;
    text-decoration: none;
    font-size: 17px;
    align-items: end;
    padding: 0px;
  }
  .bi-list {
    color: var(--blue);
  }
  .bi-x-circle-fill {
    color: var(--pale-grey);
  }
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
  .contact-us h1 {
    font-size: 30px;
    color: var(--black);
  }
  .email-phone {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 0px;
  }
  .email,
  .phone {
    width: 100%;
  }
  .form button:hover {
    color: var(--yellow);
  }
  .footer {
    position: relative;
    max-width: 100%;
    height: 120px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 15px 15px 15px 15px;
    background-color: var(--pale-grey);
    font-size: 10px;
    color: var(--grey);
  }
  .footer div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 20px 0px 20px;
  }
  .footer img {
    padding-top: 0px;
    width: 60px;
    height: auto;
  }
  .footer p {
    width: 100%;
    padding-top: 0px;
    margin-left: 20px;
  }
  .footer ul {
    flex-wrap: column;
    align-items: space-between;
    margin-left: 0px;
    width: 180px;
    gap: 15px;
    padding-top: 0px;
    margin-bottom: 20px;
  }
  .footer a {
    font-size: 12px;
    align-items: flex-end;
  }
}
