:root {
  --blue:  #072ac8;
  --sky-blue: #43d2ff;
  --pale-blue: #a2d6f9;
  --light-blue: #d1edff;
  --black: #292e47;
  --grey: #6b708d;
  --pale-grey: #f2f4fc;
  --ice: #ecf7ff;
}

*,
html,
body {
    box-sizing: border-box;
    background-color: var(--pale-grey);
    font-family: Robot, Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    
}
.header{
    top: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 60px 60px 0px 60px;
}
.header img{
    width: 60px;
    height: auto;
}
.nav-bar{
    display: flex;
    align-items: center;
    margin: auto;
    
}

.nav-bar ul{
    display: flex;
    gap: 60px;
    list-style: none;
    padding: 0; 
}   
.nav-bar a{
    color: var(--grey);
    text-decoration: none;
    font-size: 17px;
}
.home a{
    color: var(--blue);
}
.btn-contact-us {
    background-color: var(--blue);
    color: var(--ice);
    padding: 15px 25px;
    border: none;
    text-decoration: none;
    font-size: 17px;
    
}






.footer{
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1000;
    width: 100%;
    padding: 0px 60px 60px 60px;
    bottom: 0;
    background-color: var(--pale-grey);
    font-size: 14px;
    color: var(--grey);
}
.footer img{
    padding-top: 30px;
    width: 60px;
    height: auto;
}
.footer p {
    width: 250px;
    padding-top: 10px;
    
}
.footer ul{
    list-style: none;
    display: flex;
    flex-wrap: column;
    gap: 100px;
    padding-top: 30px; 
}
.footer a{
    text-decoration: none;
    color: var(--grey);
    font-size: 14px;   
    align-items: flex-end;
}